{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyLicit</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body style="display: block;">
    <div class="back" style="margin-top: 40px; margin-left: 40px;">
        <a href="cerrar_sesion" ><img src="{% static 'core/back-arrow.svg' %}" width="40px"></img></a>
        <h2 style="margin-left: 85%; margin-top: -30px; color: #7300ff;">Hola {{user.username}}</h2>
    </div>
    
    <div class="login-container" style="margin-top: 150px; height: 500px; width: 300px;">
        <p >
            <h2><img src="{% static 'core/logo-color.jpeg' %}"  width="200px"  style="border-radius: 15px;" alt="logo-colo"></h2>
        </p>
        <p >
            <a href="convert_excel" class="btn">
                <span style="color: #fff;">Convertir xls a xslx</span> 
            </a>
        </p>
        <p style="margin-top: 30px; width: 100%;" >
            <a href="upload_excel" class="btn">
                <span style="color: #fff;">Rellenar plantilla</span> 
            </a>
        </p>
    </div>
</body>
</html>